---
# The main sass file
---

@import "reset";

$pear: #dceb0c;
$dark-pear: #bfcc0a;
$height: 3.6rem;
$menu-fill: $pear;
$link-color: $dark-pear;

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: $link-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 5.6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

img {
  width: 100%;
}

.navbar {
  ul {
    li {
      width: 100%;
      height: $height;
      line-height: $height;
      font-size: $height;
      margin-bottom: 0.5rem;
      font-weight: 500;
      list-style: none;
    }
  }
  a,
  a:visited {
    display: block;
    color: black;
    &:hover {
      background-color: $pear;
    }
  }
}

.page-title {
  background: $pear;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.post-list {
  li {
    list-style: none;
  }
}

.post {
  width: 100%;
  border: 0.1rem solid black;
  padding: 1.6rem;
  margin-bottom: 2.4rem;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  &:hover {
    background: $pear;
  }
  a,
  a:visited {
    color: black;
    padding: 1.6rem;
    display: block;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
}

.post-title {
  display: block;
}

.post-date {
  display: block;
}
