---
layout: default
title: Piotr Romanowski | strona domowa
cover: /img/pi2min.jpg
description: Strona domowa na którą wrzucam swoją muzykę, zrób-to-samy i okołoprogramistyczne teksty
---

<h1 class="page-title">Piotr Romanowski</h1>

<h2>Programowanie / Muzyka / DIY / Inne</h2>

<div>
  {% for post in paginator.posts %}
    {% include post.html %}
  {% endfor %}
</div>

  
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Poprzednia strona</a>
    {% else %}
    <span>&laquo; Poprzednia strona</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Następna strona &raquo;</a>
    {% else %}
    <span>Następna strona &raquo;</span>
    {% endif %}
  </div>
  {% endif %}

